.why{
  background-image: url("../image/3.jpg");
  background-size: cover;
  padding: $base*30 0;
  @media screen and (max-width:$md) {
    padding-bottom: $base*5;
  }
  @media screen and (max-width:$sm) {
    padding: 0 0;
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: $base*11;
    @media screen and (max-width:$md) {
      padding-bottom: $base*5;
    }
    @media screen and (max-width:$sm) {
      padding: 0 0;
    }
  }
  &__content-title{
    font-family: "Aleo", sans-serif;
    font-size: 36px;
    line-height: inherit;
    padding-top: $base*20;
    padding-bottom: $base*10;
    @media screen and (max-width:$md) {
      font-size: 26px;
      padding-bottom: $base*5;
    }
    @media screen and (max-width:$sm) {
      font-size: 20px;
      text-align: center;
      padding-top: $base*10;

    }
  }
  &__content-text{
    font-family: "JosefinSans-Regular", sans-serif;
    font-size: 16px;
    margin: auto;
    padding-top: $base*9;
    line-height: 24px;
    letter-spacing: 0.04em;
    @media screen and (max-width:$md) {
      font-size: 16px;
    }
    @media screen and (max-width:$sm) {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.08em;
      padding: $base*4 $base*5;
    }}}
.why-btn{
  font-size: 16px;
  line-height: 54px;
  letter-spacing: 0.1em;
  @media screen and (max-width:$md) {
    line-height: 54px;
  }
  @media screen and (max-width:$sm) {
    font-size: 14px;
    line-height: 36px;
    padding: 0 $base*3;
    margin-left: $base*10;

}}
.img-wrap{
  @media screen and (max-width:$sm) {
    padding: $base*10 $base*5 $base*5;
  }
}
.img1{
  padding-left: $base*18 ;
  margin-top: -$base*3;
  @media screen and (max-width:$sm) {
    padding: $base*3;
  }
}
.img2{
  padding-left: $base*48 ;
  @media screen and (max-width:$sm) {
    padding: $base*3;
  }
}